<header class="header">
  <input type="search" [value]="activatedRoute.snapshot.queryParams.search || ''"
         (input)="onInputChange($event.target)">
  <button (click)="showSearchResults()">Search</button>
  <button (click)="addProduct()">Add New Product</button>
</header>
<table>
  <thead>
  <th *ngFor="let header of headerList">
    {{header}}
  </th>
  </thead>
  <tbody>
  <tr deferLoad (deferLoadAction)="showImage($event, product)" (click)="goToProduct(product?.productId)"
      *ngFor="let product of productList | async; let prodIndex = index"
  >
    <td>
      {{product?.productId}}
    </td>
    <td>
      <img *ngIf="product?.showImage"
           [src]="'http://placehold.it/1200x1200/FFFF00/000000&text='+ product.productName + prodIndex">
    </td>
    <td>
      {{product?.productName}}
    </td>
    <td>
      {{product?.productDescription}}
    </td>
    <td>
      {{product?.productCount}}
    </td>
    <td (click)="deleteProduct(product?.productId, $event)">delete</td>
  </tr>
  </tbody>
</table>
<ng-container>

</ng-container>
